body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('http://wallpaper4me.com/images/wallpapers/8bitpacmanghosts-480818.jpeg');
  background-size:contain;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer {
  position:absolute;
}
.color {
  border-color: blue;
}

.fruit {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('img/fruit_pear.png');
  background-size:contain;
  position: absolute;
  -webkit-animation: moveX 4.5s linear 0s infinite alternate, moveY 4.0s linear 0s infinite alternate;
  -moz-animation: moveX 4.5s linear 0s infinite alternate, moveY 4.0s linear 0s infinite alternate;
  -o-animation: moveX 4.5s linear 0s infinite alternate, moveY 4.0s linear 0s infinite alternate;
  animation: moveX 4.5s linear 0s infinite alternate, moveY 4.0s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 90%; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 90%; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 90%; }
}
@keyframes moveX {
  from { left: 0; } to { left: 90%; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 90%; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 90%; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 90%; }
}
@keyframes moveY {
  from { top: 0; } to { top: 90%; }
}

.pear {
  background-image: url('img/fruit_pear.png');
}
.apple {
  background-image: url('img/fruit_apple.png');
}
.strawberry {
  background-image: url('img/fruit_strawberry.png');
}
.cherry {
  background-image: url('img/fruit_cherry.png');
}

.movingghost{
  background-image: url('img/moving_ghost.png');
  background-size:contain;
  width:50px;
  height:50px;
  transition: all 3.5s ease;
}

.hoverghost {
 position:relative;
 width: 96px;
 height: 96px;
}

.hoverghost img {
 position:absolute;
 left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.hoverimage1:hover{
  opacity:0;
}

.blue {
  border: none;
  background: url('img/blue_ghost.png');
  width:50px;
  height:50px;
}

.white {
  border: none;
  background: url('img/blue_ghost_white.png');
}


.pacman {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  background: transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid yellow;
  border-left: 60px solid yellow;
  border-bottom: 60px solid yellow;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.p0 {
  -webkit-transform: rotate(-60deg);
  -webkit-animation: r .2s ease infinite alternate;
}

.p1 {
  -webkit-transform: rotate(60deg);
  -webkit-animation: r .2s ease infinite alternate;
}

@-webkit-keyframes r {
  to {
    -webkit-transform: rotate(0);
  }
}

.pos-rel {
  position: relative;
}
